@model E_TicaretBeyazEsya.Models.Tablolar.Personel
@{
    ViewBag.Title = "PersonelGetir";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
<br />
<h2>Personel Güncelle</h2>
<br />
@using (Html.BeginForm("PersonelGuncelle", "Personel", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="group-form">
    @Html.HiddenFor(x => x.Personel_ID)
    @Html.LabelFor(x => x.Personel_Ad)
    @Html.TextBoxFor(x => x.Personel_Ad, new { @class = "form-control" })
    @*@Html.ValidationMessageFor(x => x.Personel_Ad, "", new { @style = "color:red" })*@
    <br />
    @Html.LabelFor(x => x.Personel_Soyad)
    @Html.TextBoxFor(x => x.Personel_Soyad, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Personel_Gorsel)
    <input type="file" name="Personel_Gorsel" />
    <br />
    @Html.LabelFor(x => x.Departman_ID)
    @Html.DropDownListFor(x => x.Departman_ID, (List<SelectListItem>)ViewBag.dgr2, new { @class = "form-control" })
    <br />



</div>
    <br />
    <button class="btn btn-warning">Güncelle</button>
}


