@using E_TicaretBeyazEsya.Models.Tablolar
@model List<SatisHareket>
@{
    ViewBag.Title = "SatisDetay";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h2>Satış Detayı</h2>
<br />
<table class="table table-condensed">
    <tr>
        <th>Satış ID</th>
        <th>Ürün</th>
        <th>Cari</th>
        <th>Personel</th>
        <th>Fiyat</th>
        <th>Adet</th>
        <th>Toplam</th>
        <th>Tarih</th>
 
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.SatisHareket_ID</td>
            <td>@x.Urun.Urun_Ad</td>
            <td>@x.Cari.Cari_Ad @x.Cari.Cari_Soyad</td>
            <td>@x.Personel.Personel_Ad @x.Personel.Personel_Soyad</td>
            <td>@x.SatisHareket_Fiyat</td>
            <td>@x.SatisHareket_Adet</td>
            <td>@x.SatisHareket_ToplamTutar</td>
            <td>@x.SatisHareket_Tarih</td>

        </tr>
    }
    
</table>
<button class="btn btn-primary">Yazdır</button>